main>section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

}

/*sea beyond tekst en img*/
main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

main section:nth-of-type(2) img {
    width: 47vw;

}

main section:nth-of-type(2) div {
    display: flex;
    justify-content: center;
    text-align: left; /* Optioneel, behoud links uitlijnen */
    flex-direction: column;  
    margin: 4em;
}
/*..*/



main div img{
    width: 47vw;
}

main>section button:not(ul button) {
    width: 37vw;
    appearance: none;
    border: none;
    outline: none;
    background-color: black;
    padding: 1em;
    color: white;
    margin: 1em 0 2em 0;
}

main>section button:hover {

    background-color: rgb(85, 85, 85);

}




main section:first-of-type div {
    overflow-y: auto;
}

main section:first-of-type section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

main section:first-of-type section {
    text-align: center;
}

main section:first-of-type section ul {
    display: flex;
    gap: 3em;
    padding: 0%;
}

main section:first-of-type section ul button {
    appearance: none;
    border: none;
    outline: none;
    background-color: white;


}

main section:first-of-type section ul button:hover {
    border-bottom: 2px solid black;
}

main section:first-of-type section ul button:focus {
    border: 2px solid rgb(0, 0, 0);
}

p,
h4 {
    font-weight: 400;
    margin: 0 0 1em 0;
}

main section p:nth-of-type(2){
    font-size: 40px;
}

main section section img{
    width: 8vw;  
}


/*select size, size guide*/
main section section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    width: 37vw;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main section section div select {
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    flex-grow: 1; 
}

main section section div select:focus {
    outline: none; 
}
main section section div  a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}


/*you may also like*/
main section:last-of-type div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
    overflow: auto;
}

main section:last-of-type div img {
    max-width: 25vw;
    margin-top: 2em;
    
}

main section:last-of-type div h3 {
    font-size: 1em;
    
}


main>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-top: 2px solid rgb(208, 207, 207);;
   margin-top: 2em;
}

main>div:last-of-type p {
   margin-top: 2em;
}
main>div:last-of-type a {
    text-decoration: none;
    color: inherit; /* Neemt de kleur van de omringende tekst over */
}

main>div:last-of-type a:hover {
    text-decoration: underline;
}

/*https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
::-webkit-scrollbar {
    visibility: hidden;
}


main section:last-of-type div h2 {
    margin: 2em 0 0 0;
}



main details {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    width: 37vw;
    
}

ul {
    list-style: none;
}





@media screen and (max-width: 800px) {

    

    main section:first-of-type {
        display: grid;
        grid-template-columns: 1fr;
    }
    main section:first-of-type h2{
        margin-top: 1em;
    }

    main>section:first-child>div {
        width: 100%;
        height: 70vh;
        padding: 0em;
    }

    main div img {
        width: 95vw;
        height: auto;
    }

    main section section img{
        width: 30vw;  
        margin-top: 1.5em;
    }

    main>section:nth-child(2) {
        margin-top: 20em;
    }

    main section:last-of-type div img {
        max-width: 60vw;
        margin-top: 2em;
    }

    main>section button:not(ul button) {
        width: 80vw;
    }

    main section:first-of-type section ul {
        gap: 2em;
    }

    main section:last-of-type div h2 {
        margin: 1em 0 0 0;
    }

    ::-webkit-scrollbar {
        width: 100%;
        height: 100%;
        overflow: scroll;
        scrollbar-color: transparent transparent;
    }
     main details {
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
        margin-bottom: 10px;
        width: 80vw;
    }
    
    main section section div {
        width: 80vw;
    }


    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 29em;
    
    }
    
    main section:nth-of-type(2) img {
        width: 95vw;
    
    }
    
    main section:nth-of-type(2) div {
        
        margin: 1em;
    }



    
}

@media screen and (min-width: 800px) and (max-width: 950px){

    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 0;
    
    }
    main section:nth-of-type(2) img {
        width: 97vw;
    
    }
}

@media screen and (min-width: 800px) and (max-width: 950px){

    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 0;
    
    }
    main section:nth-of-type(2) img {
        width: 97vw;
    
    }
}